.Dark {
  text-align: center;
  background-color: #282c34;
  /*background-color: darkviolet;*/
  color: white;
}

.Light {
  text-align: center;
  background-color: #bcac80;
  /*background-color: darkviolet;*/
  color: #211f19;
}

.description {
  font-weight: 100;
  padding: 20px 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container .project-name, .study-info {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 70%;
}

.presentation-avatar {
  height: 30vmin;
  pointer-events: none;
}

.presentation-flag {
  height: 5vmin;
  pointer-events: none;
}

.skill-info {
  background-color: #AB8C20;
}