@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-shadow {
    text-shadow: 2px 2px 8px #000000;
  }
}

/*
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/

.Dark {
  text-align: center;
  background-color: #282c34;
  /*background-color: darkviolet;*/
  color: white;
}

.Dark-transparent {
  text-align: center;
  /*background-color: darkviolet;*/
  color: white;
}

.Light {
  text-align: center;
  background-color: #bcac80;
  /*background-color: darkviolet;*/
  color: #211f19;
}

.Light-transparent {
  text-align: center;
  /*background-color: darkviolet;*/
  color: #211f19;
}

.description {
  font-weight: 100;
  padding: 20px 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container .project-name,
.study-info {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 70%;
}

.presentation-avatar {
  height: 30vmin;
  pointer-events: none;
}

.presentation-flag {
  height: 45px; /*5vmin*/
  pointer-events: none;
}

.skill-info {
  background-color: #ab8c20;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.unstyled-button:focus {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
}

.projectContainer {
  transition: all 0.5s ease;
}
